div.appev{
  border: 2px solid black;
  margin: 3px;
  padding: 3px;
  font-weight:bold;
  cursor: pointer;
  background-color: #AEA;
}

div.appev_highlight{
  background-color: #AAE;
}

body{
  background-color: #AAA;
}

td.appev_holder{
  width: 350px;
  border: 3px double black;
  height: 250px;
  overflow: auto;
  background-color: #DEDEDE;
}
