div.appev_holder{
  width: 350px;
  border: 3px double black;
  height: 250px;
  max-height: 250px;
  overflow: auto;
  background-color: #DEDEDE;
  padding:10px;
}

div.appev{
  border: 2px solid black;
  margin: 3px;
  padding: 3px;
  font-weight:bold;
  cursor: pointer;
  background-color: #AEA;
}

.appev_head{
  text-align:center;
  font-weight:bold;
  font-size:large;
}

div.appev_highlight{
  background-color: #AAE;
}

div.appev_new{
  background-color:inherit;
  cursor:inherit;
}

div.delete_button{
  float:right;
  border: 2px solid black;
  font-size: smaller;
  background-color: #EAA;
}

div.delete_button:hover{
  background-color: red;
}

div.error{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  /*border: 2px solid #EAA;*/
  text-align: center;
  font-weight: bold;
}

#logs_holder{
  border: 4px inset black;
  margin: 10px;
  padding: 10px;
}

#logs{
  height: 400px;
  overflow:auto;
  border: 3px inset gray;
  background-color: #DEDEDE;
}

#logs tr.log{
  border: 1px solid black;
  margin: 2px;
  font-family: monospace;
}

#logs tr.log td.log_time{
  font-weight: bold;
  padding-right: 15px;
  white-space: nowrap;
}

#logs tr.log td.log_context{
  font-style: italic;
  padding-right: 15px;
}

body{
  background-color: #AAA;
}

input.time_input{
  width:30px;
}

a.page_link{
  cursor: pointer;
  text-decoration: underline;
}

a.page_link:hover{
  text-decoration: none;
}

#time_div{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.arrow_button{
  font-size: x-large;
}
